@import 'ext/solarized-light';

.highlight {
	background-color: #f0efef;
}

div.highlight {
	padding: 5px 20px;
}
pre.highlight, code {
	background-color: #f0efef ;
	font-family: 'Consolas', 'NanumBarunGothic', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	border-radius: 20%;
}